body{
    /* background-image: url('../img/back.jpg'); */
    background-clip: border-box !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: local;
}

.main-container{
    margin-top: 30px;
    display: flex;
}

.nav-link{
    
}
.songs-artist{

}
.edit{
display: none;
width: 30px;
height: 30px;
margin-left: 5%;
margin-bottom: 10px;
}

.visible{
display: block !important;
}
.sub-text{
  display: block;
  text-align: center;
}
.input{
    padding: 5px !important;
    margin-bottom: 14px !important;
    height: 40px !important;
}
.tab_content{
    margin-top: 20px;
}
.block-song{
margin-left: 5%;
width: 50%;
}
.block-search{
    width: 40%;
}
.nav-tabs{
    margin-left: 5%;
}
.nav{
    border-bottom: 0 !important;
}

@media (max-width: 870px){
    .main-container{
        display:block;
    }

    .block-song{
        width: 90% ;
        
        margin-left: 5%;
        margin-right: 5%;
    }

    .nav-tabs{
    justify-content: center;        
        margin-left: 0%;
    }
    .block-search{
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    }
    .card{
        width: 100% !important;
    }
    .sub-text{
        display: none;
        text-align: center;
      }
      .tab_content{
          justify-content: center;
          text-align: center;
          
      }
      .edit{
        
          margin-left: auto;
          margin-right: auto;
          
      }

}